.fc-direction-ltr .fc-daygrid-event.fc-event-end {
  font-size: 14px;
  z-index: 10;
}

.fc-media-screen {
  margin: 0 auto;
  max-width: 80%;
  max-height: 70vh;
}

.fc-direction-ltr .fc-daygrid-event.fc-event-end:hover {
  cursor: pointer;
}

.fc-button-primary {
  background-color: #1e62fe !important;
  border: none !important;
  border: 1px solid #fff !important;
}

.fc-toolbar-chunk {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  text-align: center;
}

.fc-today-button {
  display: none !important;
}

.fc-button-group {
  margin: 0 !important;
  padding: 0 !important;
}

.fc-toolbar-title {
  font-size: 25px !important;
}

.hide {
  display: none;
}

@media (max-width: 800px) {
  .fc-toolbar-title {
    font-size: 1.5rem !important;
  }

  .fc .fc-toolbar {
    flex-wrap: wrap;
    justify-content: center;
    display: flex;
  }

  .fc-toolbar-chunk {
    display: flex;
    justify-content: center;

  }
}

@media (max-width: 375px) {
  .fc .fc-toolbar {

    font-size: .93rem;
  }
}