@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");

body {
  margin: 0;
  font-family: "Inter", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: "Inter", sans-serif;
}

* {
  scrollbar-width: auto;
  scrollbar-color: #1e62fe #ffffff;
  text-decoration: none;
}

*::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

*::-webkit-scrollbar-track {
  background: #ffffff;
}

*::-webkit-scrollbar-thumb {
  background-color: #1e62fe;
  border-radius: 8px;
  border: 0.5px solid #ffffff;
}

#nprogress .bar {
  background: #bed1ff !important;
  color: #bed1ff !important;
  padding: 0 4px !important;
  height: 4px !important;
}

#nprogress .spinner .spinner-icon {
  border-top-color: #bed1ff !important;
  border-left-color: #bed1ff !important;
  padding: 12px 12px !important;
  height: 15px !important;
}
